[alias]
	# View the current working tree status using the short format.
	s = status -s

	# View abbreviated SHA, description, and history graph of the latest 10 commits.
	ll = log -10 --pretty=oneline --graph --abbrev-commit

	# Show branches.
	branches = branch -vv

	# Show the user email for the current repository.
	whoami = config user.email

[branch]
	# Show most recently changed branches first.
	sort = -committerdate

[color]
	# Use colors in Git commands that are capable of colored output when
	# outputting to the terminal. (This is the default setting in Git ≥ 1.8.4.)
	ui = auto

[user]
	Name = Aleksandr Gurinov
	email = a.gurinov@corp.mail.ru

[url "git@gitlab.corp.mail.ru:"]
	insteadOf = https://gitlab.corp.mail.ru
